<!DOCTYPE html>
<html>
  <head>
  <div class="top">
    <div class="title"><h1><%= link_to "sample app", '/' ,class:"text"%></h1></div>
    <div class="title_right">
      <%=link_to "Home",home_path, class:"title_right_text"%> 
      <%=link_to "help",help_path, class:"title_right_text"%>  
      <%=link_to "Log in","#", class:"title_right_text"%>  
    </div>
  </div>  
    <title><%= full_title(yield(:title)) %></title>
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
